*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
}
.main{
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: #181719;
}
.title{
    display: block;
    padding: 7px 13px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    background-color: antiquewhite;
    background-color: #272629;
    border: none;
    font-size: 0.8rem;
}
textarea{
    margin-top: 6px;
    display: block;
    resize: none;
    padding: 7px 13px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    background-color: #272629;
    font-size: 0.8rem;
    border: none;
}
.submit{
    padding: 7px 14px;
    margin-top: 15px;
    background-color: #2464E9;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.task-container{
    margin-top: 25px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.task{
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 250px;
    height: 130px;
    padding: 10px;
    background-color: #272629;
    border-radius: 5px;
}
.no-task{
    display: block;
    color: rgb(136, 136, 136);
}
.title::placeholder, textarea::placeholder{
    color: rgb(163, 163, 163);
    font-weight: 700;
}

.task-more-options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 0;
    margin-bottom: 5px;
    margin-top: auto;
}
.task a{
    text-decoration: none;
    position: relative;
    bottom: 0px;
    font-size: 0.8rem;
    margin: 7px 0;
}
.task .read-more{
    color: #5486f4;
}
.task i{
    font-size: 0.8rem;
    color: rgb(218, 49, 49);
}
.task i:hover{
    color: red;
    transform: scale(1.2);
}