<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/task.css" rel="stylesheet">
</head>
<body>
    <a href="/"><button> home </button></a>
    <div class="main">
        <h1>Your Task information....</h1>
        <h2><%= title %></h2>
        <p><%= filedata %></p>
    </div>
</body>
</html>